body {
  margin:0
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-form-item-icon {
  color : gray;
}

.login-form-button {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-self: flex-start;
  align-items: center;
  gap: .5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  
}
.header-profile-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.profile-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 4rem 0.5rem;
}

.profile_balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(0,0,0,0.12);
  height: 24px;
  margin-right: 20px;
  padding: 1px 8px;
  border-radius: 50px;
}

.balance_warning {
  display: flex;
  flex-direction: column;
}